# Ignore node_modules directory
node_modules/

# Ignore build output
build/

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore logs
logs/

# Ignore dependencies lock file
yarn.lock
package-lock.json


venv/
./chroma_db/
